<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oj.mapper.QuestionMapper">
    <!-- 添加题目 -->
    <insert id="addQuestion" parameterType="com.oj.entity.Question">
        INSERT INTO question
        (title, question_text, difficulty, standard_sql, order_sensitive, status, create_time, update_time)
        VALUES (#{title}, #{questionText}, #{difficulty}, #{standardSql}, #{orderSensitive}, #{status}, #{createTime},
                #{updateTime})
    </insert>
    <!-- 更新题目 -->
    <update id="updateQuestion" parameterType="com.oj.entity.Question">
        UPDATE question
        SET title           = #{title},
            question_text   = #{questionText},
            difficulty      = #{difficulty},
            standard_sql    = #{standardSql},
            order_sensitive = #{orderSensitive},
            status          = #{status},
            update_time     = #{updateTime}
        WHERE id = #{id}
    </update>
    <!-- 删除题目 -->
    <delete id="deleteQuestion" parameterType="int">
        DELETE
        FROM question
        WHERE id = #{id}
    </delete>

    <!-- 分页查询题目列表 -->
    <select id="pageQuery" resultType="com.oj.vo.AdminQuestionTitleVO">
        SELECT id,
               title,
               question_text   AS questionText,
               difficulty,
               standard_sql    AS standardSql,
               order_sensitive AS orderSensitive,
               status,
               create_time     AS createTime,
               update_time     AS updateTime
        FROM question
        ORDER BY id
    </select>
    <!-- 根据ID查询题目详情 -->
    <select id="getById" resultType="com.oj.vo.QuestionVO">
        SELECT id,
               title,
               question_text   AS questionText,
               difficulty,
               standard_sql    AS standardSql,
               order_sensitive AS orderSensitive,
               status
        FROM question
        WHERE id = #{id}
    </select>
    <select id="userPageQuery" resultType="com.oj.vo.QuestionTitleVO">
        SELECT id,
               title,
               difficulty
        FROM question
        WHERE status = 'PUBLISHED'
        ORDER BY id
    </select>
    <select id="userGetById" resultType="com.oj.vo.QuestionDetailVO">
        SELECT id,
               title,
               question_text   AS questionText,
               difficulty
        FROM question
        WHERE id = #{id} AND status = 'PUBLISHED'
    </select>


</mapper>
